* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.blue-text {
    color: #1A237E !important;
}

.paragraph {
    color: #000;
    font-size: 1.5em;
    text-align: justify;
}